@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

header {
    padding-top:8px;
    width: 796px;
    margin: 0 auto;
}

.header_container {
    width: 100%;
    display: inline-block;
}

span {
    color: greenyellow;
}

.logo {
    float: left;
    padding-left: 20px;
    padding-top: 8px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    line-height: 25px;
    color: black;
}

header .btn_login {
    width: 140px;
    height: 44px;
    background-color: greenyellow;
    border: none;
    float: right;
    border-radius: 10px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
a { 
    text-decoration: none; 
}

section {
    border: 1px solid black;
    width: 796px;
    margin: 0 auto;
    padding-top: 10px;
}

section input {
    width: 750px;
    height: 40px;
    font-size: 18px;
    background-image: url('/junhee/img/zoom.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 28px;
    border-style: none;
    outline: none;
}

form {
    border: 2px solid yellowgreen;
    border-radius: 20px;
    padding-left: 20px;
}

nav {
    margin: 0 auto;
    border: 1px solid black;
    width: 796px;
    font-size: 0px;
    text-align: center;
    padding-top:7px;
}

ul {
    width: 796px;
    list-style-type: none;
    display: inline-block;
}

li {
    width: 260px;
    float: left;
}

nav > ul > li > a:link,
nav > ul > li a:visited {
    color:black;
    text-decoration: none;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    font-size: 20px;
    padding:2px 2px;
    display: inline-block;
}
nav > ul > li > a:active{
    font-weight: bold;
    
}